#mainGridTop{
    -fx-background-color: #4B007D;
}

.root {
    -fx-background-color: #4B007D;
}

#graph {
    -fx-background-color: white;
}

#graphControlMenu {
    -fx-background-color: white;
}

#map {
    -fx-background-color: white;
}